body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 25px;
}

.profile-icon {
    width: 110px; /* Ajuste o tamanho conforme necessário */
    height:110px; /* Ajuste o tamanho conforme necessário */
    border-radius: 60%;
    margin-right: 15px;
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 480px) {
    h1 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.875rem;
        padding: 8px 15px;
    }

    .container {
        padding: 15px;
    }
}
